#header{
  background-color: #51dacf;
}

.container-fluid {
  padding: 3% 10%;
}

.table-header {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  margin-bottom: 3%;
}

.league-table {
  padding-top: 3%;
}

/* Navbar */
.navbar{
  padding: 0 0 4.5rem;
}

.navbar-scrolled {
  background-color: white;
}

.navbar-brand {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #003366;
}

.navbar-nav {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}
.nav-link {
  color: #003366;
}

.fa-bars{
  color: #003366;
}

/* Header Section */

.header-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 1.2em;
  font-size: 3.5rem;
  color: #003366;
}

.title-img {
  text-align: right;
}

.soccer-img {
  width: 75%;
  margin-top: -14%;
}

/* Standings Section */
#Standings{
  width: 100%;
  padding-top: 3%;
  background-color: #d2fafb;
}

.container {
  text-align: center;
}

.league-name {
  display: inline;
  margin: 4%;
  font-family: 'Open Sans', sans-serif;
  color: #003366;
  font-weight: bold;
  font-size: 1.25rem;
}

.league-name:hover{
  color: #51dacf;
  cursor: pointer;
}

.short-text {
  display: none;
}

.table thead th{
  border-color: #003366;
}

.table-bordered td, .table-bordered th{
  border-color: #003366;
  border-width: 3px;
}

.logo-img {
  width: 1.5rem;
  height: 1.5rem;
}

.remove-on {
  display: none;
}
.table-sm {
  display: none;
}

@media (max-width: 768px) {

  .soccer-img {
    display: none;
  }

  .league-name {
    font-size: 1rem;
    margin: 2%;
  }

}

@media (max-width: 563px) {

  .short-text{
    display: inline;
  }

  .long-text{
    display: none;
  }

  .league-name.short-text {
    margin: 1%;
    font-size: 14px;
  }

  .name {
    width: 25%;
  }

  .table-mobile th,
  .table-mobile td {
    padding: 0.3rem;
  }

}
/*
@media (max-width: 375px){

} */
